:root{
  --nav-background: #FCFCFD;
  --white: #FCFCFC;
  --background2: #ebedef;
  --expand: #2D6FDA;
  --exit: #E32626;
  --purple: #efe3fc;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}
body{
  font-family:Arial, Helvetica, sans-serif;
  padding: 1rem;
  height: 100%;
  font-size: 16px;
  background: #C7D2DC;
}

h2{
  font-size: 0.9rem;
  margin-bottom: 5px;
  font-weight: 300;
}

ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

li{
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 35px;
}
li:hover{
  background-color: var(--purple);
}

.sidebar{
  background-color: var(--white);
  padding: 2.5rem 0;
  height: 100%;
  min-height: 50rem;
  max-width: 18rem;
  min-width: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  color: var(--purple);
  position: sticky;
}
.small{
  width: 4rem;
}

.top-wrapper{
  position: relative;
  display: flex;
}
.top{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 700;
  font-size: 1.35rem;
  padding: 0 0.6rem;
  user-select: none;
}
/* .company-name{
  display: none;
  when small 
} */

.expand-btn{
  position: absolute;
  width: 2rem;
  padding: 6px;
  border-radius: 20%;
  border: none;
  display: grid;
  place-items: center;
  top: 0;
  right: -1rem;
  cursor: pointer;
  /* background-color: #4A516D; */
}

.isClicked{
  transform: rotate(360deg);
  transition: 5s;
}

.search-wrap{
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0 0.6rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--purple);
  margin: 1rem 0 2rem;
}
.search-wrap input{
  width: 80%;
  background: none;
  border: transparent;
  outline: none;
  font-size: 1rem;
}

.img-container{
  position: relative;

}
.img-container img{
  position: absolute;
  transform: translate(-50%, -50%);
}

.menu-nav{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.link-name-wrapper{
  font-weight: 600;
  color: #303651;
}
.link-name-wrapper .hidden{
  display: none;
}